.ItemTitle {
  padding-top: 18px;
  padding-bottom: 8px;
  font-family: "16023 futuran", sans-serif;
  color: #336072;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1.5px;
  text-decoration: none;
  text-transform: uppercase;
}

.ItemAuthor {
  font-family: "16023 futuran", sans-serif;
  color: #6c8396;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}
